* {
  margin: 0;
  padding: 0;

  /* border: red dashed 1px; */
}

/* Form */
.createNote {
  border-radius: 5px;
  background-color: rgb(240, 211, 221);

  padding: 30px 15px;
}

/* Notebook */
.notebook {
  border-radius: 5px;
  background-color: rgb(126, 202, 212);

  padding: 30px 15px;
}

.note {
  margin: 5px;
}

.background {
  background-color: rgb(240, 240, 255)
}